$margen: 10px;
* {
    margin: 0;
    padding: 0;
    height: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section{
    display: flex;
    flex-direction: row;
.izquierda {
    width: 70%;
    height: auto;
    background-color: blue;
}

.derecha {
    width: 27%;
    height: auto;
    h1 {
        margin: $margen;
    }
    label {
        display: block;
        margin: $margen;
    }
    input {
        display: block;
        margin: $margen;
    }
    button {
        display: block;
        margin: $margen;
    }
    p {
        margin: $margen;
    }
    .color {
        width: 150px;
        height: 5px;
        background-color: red;
        margin: 4px;
    }
}
}